
body { background-color: #f1f1f1; }

.demo-wrap { }

.demo-wrap .demo {
  width: 1000px;
  height: 450px;
  margin: 0 auto;
  position: relative;
  -webkit-user-select: none;
}

.slide-wrap {
  width: 1000px;
  height: 450px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.slide-wrap li {
  display: none;
  width: 300px;
  position: absolute;
  z-index: 0;
  overflow: hidden;
  box-shadow: 0px 10px 20px #888;
}

.slide-wrap .inner {
  position: relative;
  border: 3px solid #ecfdfd;
  border-radius: 5px;
}




.slide-wrap .pos1 {
  background-color: #00adee;
  display: block;
  width: 250px;
  height: 236px;
  top: 60px;
  left: 3%;
  z-index: 1;
}

.slide-wrap .pos2 {
  background-color: #00adee;
  display: block;
  width: 150px;
  height: 340px;
  top: 35px;
  left: 15%;
  z-index: 2;
}

.slide-wrap .pos3 {
  background-color: #00adee;
  display: block;
  width: 500px;
  height: 390px;
  top: 0;
  left: 25%;
  z-index: 3;
}

.slide-wrap .pos4 {
  background-color: #00adee;
  display: block;
  width: 350px;
  height: 286px;
  top: 35px;
  right: 15%;
  z-index: 2;
}


.arrow {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #384047;
  color: #fff;
  position: absolute;
  top: 160px;
  z-index: 10;
  cursor: pointer;
  font-size: 30px;
  line-height: 48px;
  text-align: center;
  font-style: normal;
}

.prev {
  left: 130px;
  background-position: 0px 0px;
}

.next {
  right: 130px;
  background-position: -52px 0px;
}
